@model IEnumerable<Invest.Models.Auth>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pwd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pwd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthID })
        </td>
    </tr>
}

</table>
