<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Axis Client Portal</title>
    @* <link href="@Url.Content("~/Content/dash.css")" rel="stylesheet" type="text/css" /> *@
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand "> 
                    Investify Client Portal 
               </a> 
        <ul class="navbar-nav">
            <!-- Avatar -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center"
                   href="#"
                   data-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent"
                   role="button"
                   data-toggle="dropdown"
                   aria-expanded="false">
                   
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                         class="rounded-circle"
                         height="30"
                         alt=""
                         loading="lazy" />
                </a>
                
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                            <ul class="navbar-nav  ">
                
                                <li class="nav-item dropdown">
                                  
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                
                
                                        @Html.ActionLink("Log Out", "Login", "Authentication", new { area = "" }, new { @class = "dropdown-item" })
                
                                    </div>
                                </li>
                            </ul>
                
                        </div>
               
            </li>
        </ul>
    </div>
</nav>

<div class="container body-content ">

    @RenderBody()
    <hr/>
    <footer class="mt-4 text-center">
        <p>&copy; @DateTime.Now.Year - Investify Client Portal</p>
    </footer>
</div>

<style>
    body {
        padding-top: 00px;
    }
</style>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
