@model Invest.Models.Auth

@{
    ViewBag.Title = "SignUp";
}




<div class="row ml-auto mr-auto">
    <img src="@Url.Content("~/Content/logovb.png")" alt="Image" />

</div>




<div class="col-md-8 mr-auto ml-auto">


    <div class="card" style="border-radius: 12px">

        <div class="card-text">
            <div class="portada">

            </div>
            <div class="container-fluid">

                <div class="col-md-9 title-total ml-auto mr-auto">

                    <h4 class=" text-center card-title mb-1">
                        You Are Almost There!
                    </h4>

                    <p class="mt-4 card-subtitle text-center text-xs text-muted">Create A Username And Password.</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class=" ">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">

                                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Username" })

                            </div>
                            <div class="form-group">

                                @Html.PasswordFor(m => m.Pwd, new { @class = "form-control", @placeholder = "New Password" })
                            </div>

                            <div class="form-group">

                                @Html.PasswordFor(m => m.Pwd, new { @class = "form-control", @placeholder = "Confirm Password" })
                            </div>

                            <div class="form-group mt-5">
                                <input type="submit" class="btn btn-success btn-block " value="Login" />
                            </div>

                            




                            <div class="row text-center mt-5">

                                <p class="text-xxs text-center text-muted">
                                    By signing up you agree to Investify's
                                    <a href="#">Terms and Conditions</a> and
                                    <a href="#">Privacy Policy</a>.
                                </p>

                            </div>


                        }
                    </div>



                </div>
            </div>

        </div>



    </div>


</div>
