@model IEnumerable<Invest.Models.PREMIUM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PremiumAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PremiumAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PremiumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PremiumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PremiumID })
        </td>
    </tr>
}

</table>
